main {
    border: 2px green solid;
    height: 500px;
    width: 1000px;
}
.flex-container {
    margin: 0 auto;
    border: 2px purple dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 500px;
}
.flex-container div {
    border: 1px red solid;
    margin: 20px;
    padding: 30px;
    font-size: 30px;
    background-color: pink;
    color: blue;
}